@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@700&family=Roboto+Condensed:wght@400;700&display=swap');
:root {
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --blue-400: #60A5FA;
    --blue-500: #3B82F6;
    --blue-600: #2563EB;
}


*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html { 
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background-color: var(--grey);
}

nav {
    display: flex;
    background-color: var(--white);
    color: var(--black);
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

nav > h1 {
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 16px;
}

.add-books {
    height: fit-content;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    font-family: 'Open Sans', sans-serif;
    min-width: 300px;
}

.add-books-form > input[type="text"],
.add-books-form > input[type="number"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid var(--grey);
}

#read {
    margin: 16px 0;
}

.add-books-form > input {
    margin: 8px 0px;
}

.add-books > p {
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.add-books > hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 16px;
}

#addBookBtn {
    display: block;
    padding: 12px;
    margin: 8px 0px;
    width: 100%;
    background-color: var(--blue-600);
    border: 1px solid #ccc;
    color: var(--white);
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

#addBookBtn:hover {
    background-color: var(--blue-500);
    transition: 0.2s ease-out;
    cursor: pointer;
}

.books {
    padding: 8px;
}

.books > p {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.books-shelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    gap: 24px;
}

.book-card {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    background-color: var(--white);
    border-radius: 16px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.book-card > .title {
    font-size: 28px;
    font-weight: 700;
    margin: 8px 0;
}

.book-card > .author {
    font-style: italic;
    font-size: 18px;
    color: #050505;
}

.book-card > .pages {
    margin: 16px 0px;
}

.book-card-buttons{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-card-buttons > .read { 
    border: none;
    display: inline-block;
    margin-top: auto;
    background-color: #84CC16;
    width: fit-content;
    padding: 12px;
    font-size: 14px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.book-card-buttons > .not.read {
    background-color: var(--red);
}

.remove-btn {
    padding: 12px;
    font-size: 16px;
    display: inline-block;
    background-color: #DC2626;
    color: #FEF2F2;
    border: none;
    transition: 0.3s ease-in;
}

.remove-btn:hover{
    filter: brightness(0.92);
    transition: 0.1s ease-out;
    cursor: pointer;
}